body {
	margin: 0;
	font-family: 'Segoe UI', sans-serif;
	background-color: #F5F7F8;
}

.container {
	display: flex;
	height: 100vh;
}

.form-section {
	flex: 1;
	background: #F8F8F8;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image-section {
	flex: 1;
	background: url("/images/registro/reg.jpg") center center/cover no-repeat;
	position: relative;
}

.subtitulo {
	font-size: 26px;
	color: #297B8E;
	margin-bottom: 30px;
	margin-top: 0px;
	padding: 4px 12px;
	border-radius: 4px;
	font-weight: 500;
}

.overlay {
	position: absolute;
	top: 45%;
	left: 20px;
	right: 20px;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	color: white;
}

.overlay p {
	font-weight: 600;
	font-size: 18px;
	color: white;
}

.logo {
	width: 220px;
	margin-bottom: 30px;
}

.formulario {
	width: 100%;
	max-width: 640px;
	display: flex;
	flex-direction: column;
}

.row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2%;
	margin-bottom: 1rem;
}

.row input,
.row select {
	flex: 1;
	padding: 12px;
	font-size: 16px;
	border: 1px solid #cfd8dc;
	border-radius: 6px;
}

.btn-primary {
	background-color: #297b8e;
	color: white;
	border: none;
	padding: 12px;
	border-radius: 24px;
	font-size: 16px;
	margin-top: 10px;
	cursor: pointer;
}

.btn-secondary {
	background: transparent;
	color: #297b8e;
	border: 2px solid #297b8e;
	padding: 10px;
	border-radius: 24px;
	font-size: 16px;
	margin-top: 10px;
	cursor: pointer;
}

.formulario .form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.formulario .form-group label {
	font-weight: bold;
	margin-bottom: 0.25rem;
	color: #297B8E;
}

.required {
	color: red;
	margin-left: 0.25rem;
}

.required-note {
	color: red;
	font-weight: bold;
	margin: 0.5rem 0 1rem;
}